body{
  background-image: url("https://bl6pap004files.storage.live.com/y4mpbQyBsEA-p6Zo2WMQggviFnx-BW3H1SSjMRS0jWaKq1RQpSo6qmM9G_EwsA4-lWtGRtP0tEZo8OaDh0YOpR67Thp0b2CIcJuPXqufFONifRbMg4N9ErZVdqIuOUPfVQ7nITSdqJ1khigklaKW5-_8lA8OhVQ9Hs34bJuwTGtd913B-ET1Sm5mwW9cXYUt5uj?width=2094&height=1154&cropmode=none");
}

.align{
  text-align: center;
  margin-top: 300px;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
